<section class="main-team-store">

    <!--MAIN TEAM STORE CONTAINER BEGIN-->
<div class="container">
<div class="row">
    <div class="col-md-12">
        <h4>Team Store</h4>
    </div>	
    <div class="col-md-10 col-xs-9">
        <ul class="tab-filters">
            <li class="active"><a data-toggle="tab" href="#new">New</a></li>
            <li><a data-toggle="tab" href="#hotdeals">hot deals</a></li>
            <li><a data-toggle="tab" href="#officialapparel">Official apparel</a></li>
        </ul>
    </div>
    <div class="col-md-2 col-xs-3 text-right">
        
            <a id="show-all-link" href="store.html">Show all</a>
          
    </div>
</div>
</div>
<!--MAIN TEAM STORE CONTAINER END-->

    <!--MAIN TEAM STORE LIST BEGIN-->
<div class="main-store-list">
<div class="container">
    <div class="tab-content">
        <div id="new" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <span class="store-badge hot">hot</span>
                                <img src="./assets/images/common/store-item-img.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's T-Shirt Elite</span>
                                <span class="price">£ 80</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <span class="store-badge new">new</span>
                                <img src="./assets/images/common/product-3.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's Long-Sleeve Running </span>
                                <span class="price">£ 155</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <img src="./assets/images/common/product-2.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's T-Shirt </span>
                                <span class="price">£ 155</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <img src="./assets/images/common/product-4.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's Long-Sleeve Running </span>
                                <span class="price">£ 155</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hotdeals" class="tab-pane fade">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <span class="store-badge hot">hot</span>
                                <img src="./assets/images/common/store-item-img.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's T-Shirt Elite</span>
                                <span class="price">£ 80</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <span class="store-badge new">new</span>
                                <img src="./assets/images/common/product-3.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's Long-Sleeve Running </span>
                                <span class="price">£ 155</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <img src="./assets/images/common/product-2.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's T-Shirt </span>
                                <span class="price">£ 155</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <img src="./assets/images/common/product-4.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's Long-Sleeve Running </span>
                                <span class="price">£ 155</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="officialapparel" class="tab-pane fade">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <span class="store-badge hot">hot</span>
                                <img src="./assets/images/common/store-item-img.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's T-Shirt Elite</span>
                                <span class="price">£ 80</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <span class="store-badge new">new</span>
                                <img src="./assets/images/common/product-3.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's Long-Sleeve Running </span>
                                <span class="price">£ 155</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <img src="./assets/images/common/product-2.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's T-Shirt </span>
                                <span class="price">£ 155</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="store-list-item">
                        <div>
                            <a href="product.html">
                                <img src="./assets/images/common/product-4.jpg" alt="product-image">
                            </a>
                            <div class="info">
                                <span class="name">Men's Long-Sleeve Running </span>
                                <span class="price">£ 155</span>	
                                <div class="btn-wrap">
                                    <button class="btn small">add to cart</button>
                                    <button class="btn small">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--MAIN TEAM STORE LIST END-->

    <!--MAIN SPONSOR SLIDER BEGIN-->
<div class="main-sponsor-slider-background">
<div id="main-sponsor-slider" class="carousel slide main-sponsor-slider" data-ride="carousel">
<div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <img class="sponsor-icons" src="./assets/images/common/sponsor-img.png" alt="sponsor-image">	
                </div>
                <div class="col-xs-4 text-center">
                    <img class="sponsor-icons" src="./assets/images/common/sponsor-img1.png" alt="sponsor-image">	
                </div>
                <div class="col-xs-4 text-center">
                    <img  class="sponsor-icons dota-csgo-image" src="./assets/images/common/sponsor-img2.png" alt="sponsor-image">	
                </div>
            </div>
        </div>	
    </div>
    <div class="item">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <img class="sponsor-icons" src="./assets/images/common/sponsor-img.png" alt="sponsor-image">	
                </div>
                <div class="col-xs-4 text-center">
                    <img  class="sponsor-icons" src="./assets/images/common/sponsor-img1.png" alt="sponsor-image">	
                </div>
                <div class="col-xs-4 text-center">
                    <img class="sponsor-icons dota-csgo-image" src="./assets/images/common/sponsor-img2.png" alt="sponsor-image">
                </div>
            </div>
        </div>	
    </div>
    <!-- Controls -->
    <a class="nav-arrow left-arrow" href="#main-sponsor-slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
    </a>
    <a class="nav-arrow right-arrow" href="#main-sponsor-slider" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
    </a>
</div>	
</div>
</div>
<!--MAIN SPONSOR SLIDER END-->

</section>