<!--AWARD BOX BEGIN-->

<div class="main-award-box">

    <!--TIMELINE BEGIN-->
<div class="timeline-bar">
<div class="bar">
    <div class="date date-1" >1990</div>
    <div class="date date-2" >2001</div>
    <div class="date date-3" >2002</div>
    <div class="date date-4" >2007</div>
    <div class="date date-5" >2010</div>
    <div class="date date-6 active" >2016</div>
</div>
</div>
<!--TIMELINE END-->

    
<div class="main-award-slider">
<div id="main-award-slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">  
        <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <div class="award">
                                <div class="image"><img class="img-responsive" src="./assets/images/common/cup.png" alt="cup-image"></div>
                                <div class="name">All-Star Series</div>
                                <div class="year">2016</div>
                            </div>
                        </div>
                        <div class="col-xs-4 text-center">
                            <div class="award">
                                <div class="image"><img class="img-responsive" src="./assets/images/common/cup1.png" alt="cup-image"></div>
                                <div class="name">World Class Championship</div>
                                <div class="year">2016</div>
                            </div>
                        </div>
                        <div class="col-xs-4 text-center">
                            <div class="award">
                                <div class="image"><img class="img-responsive" src="./assets/images/common/cup2.png" alt="cup-image"></div>
                                <div class="name">Major League Trophy</div>
                                <div class="year">2016</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <div class="award">
                                <div class="image"><img class="img-responsive" src="./assets/images/common/cup.png" alt="cup-image"></div>
                                <div class="name">All-Star Series</div>
                                <div class="year">2016</div>
                            </div>
                        </div>
                        <div class="col-xs-4 text-center">
                            <div class="award">
                                <div class="image"><img class="img-responsive" src="./assets/images/common/cup1.png" alt="cup-image"></div>
                                <div class="name">World Class Championship</div>
                                <div class="year">2016</div>
                            </div>
                        </div>
                        <div class="col-xs-4 text-center">
                            <div class="award">
                                <div class="image"><img class="img-responsive" src="./assets/images/common/cup2.png" alt="cup-image"></div>
                                <div class="name">Major League Trophy</div>
                                <div class="year">2016</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    <!-- Controls -->
    <a class="nav-arrow left-arrow" href="#main-award-slider" role="button" data-slide="prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="nav-arrow right-arrow" href="#main-award-slider" role="button" data-slide="next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>

</div>

<!--AWARD BOX END-->